


/*--------Наша Каманда----*/












/*.footer-title{
    color:var(--accent-color);
}*/




    /*font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}
.address__link:hover,
.address__link:focus {
    cursor: pointer;
    color: var(--accent-color);*/





    




  

/*.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-link:hover {
    background-color: #2196F3;

}

.team-soc-link:hover .team-soc-icon {
    fill: #FFFFFF;*/
/*.join-soc-item{
   

    
    
}
.join-soc-item:hover
 {
    background-color:var(--accent-color);
}*/










/*::before {
    transition: transform;
    content: normal;
    display: inline-block;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.gallery-item:hover::before{
    
    opacity: 1;
    transform:translateY(300px) ;
}*/

/*@keyfroms rotator{ 
  0% { transform:rotate(0)}
  100% { transform: rotate(360deg)*/
/*animation-name:rotator;
animation-duration:2000ms;
animation-timing-function:cubic-bezeir(04, 0, 0.2, 1)
animation-delay:2000ms для задержки не некоторый период;*/

/*основной цвет #212121;
/* второй цвет #757575;
/* logo #FFFFFF ; #2196F3;
/*nav footer(255, 255, 255, 0.6);
/* при нажатии #2196F3