body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    margin: 0;

}
.non-scrol{
    overflow: hidden;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
section{
    padding-top: 60px;
    padding-bottom: 60px;
   

    @media screen and(min-width:1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
    
}

.work-list {
    
    text-align: center;
    
    background-color: #ffffff;
  
    @media screen and (min-width:768px) {
     display: flex;
     /*width: 354px;*/
     flex-wrap: wrap;
    gap: 30px;
    }

         @media screen and (min-width:1200px) {
             
             flex-basis: 0;
             flex-wrap: nowrap;

         }
}

.work-list:nth-child(2n) {
    background-color: #F5F4FA;
}

/*480px,768px и 1200px.*/