.hero {
    background-color: #2F303A;
    text-align: center;

    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient 
          (rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
          url(../images/bg-mobile-min.jpg),
            url(../images/bg-mobile2x-min.jpg);

          @media(min-device-pixel-radio: 2),
            (min-resolution:192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient
             (rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
             url(../images/bg-mobile-min.jpg),
             url(../images/bg-mobile2x-min.jpg);
        }
        @media screen and(min-width:768px){
        
         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
              url(../images/bg-tablet2x-min.jpg),
            url(../images/bg-tablet-min.jpg);
            
         @media(min-device-pixel-radio: 2),
             (min-resolution:192dpi),
             (min-resolution: 2dppx) {
              background-image: linear-gradient 
              (rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
             url(../images/bg-desktop@2x-min.jpg)
             url(../images/bg-hero.jpg);
                }
        }
        @media screen and(min-width:1200px){
            
        
         padding-top: 200px;
         padding-bottom: 200px;
         background-image: linear-gradient
         (rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
           url(../images/bg-hero.jpg)
           url(../images/bg-desktop@2x-min.jpg);
         @media(min-device-pixel-radio: 2),
         (min-resolution:192dpi),
         (min-resolution: 2dppx) {
           background-image: linear-gradient 
             (rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
              url(../images/bg-desktop@2x-min.jpg)
              url(../images/bg-hero.jpg);
           }
        }
    max-width: 100%;
   /* display: block;
    height: auto;
    margin: 0 auto;*/


}
.hero__title {
    font-weight: 900;
    
    color: #FFFFFF;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and(max-width:1199px){
        font-size: 26px;
        line-height: 1.62;
    }
   @media screen and(min-width:1200px) {
       font-size: 44px;
        line-height: 1.36;
    }
}
.hero__btn {
    background: var(--accent-color);
    font-weight: 700;
    line-height: calc(30/16);
    color: #ffffff;
    letter-spacing: 0.06em;

    display: inline-block;
    padding: 10px 32px;

    min-width: 200px;
    height: 50px;

}